[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyhumps = "*"
install = "*"
werkzeug = "==2.0.0"

[dev-packages]
adr-tools-python = "*"

[requires]
python_version = "3.9"
