:root {

    /* Colors */

    --beige-200: #F4F0EB;
    --grey-300: #BABABA;
    --grey-900: #545454;
    --blue-400: #7EA8B9;
    --blue-900: #003B52;

    --text-color: #0b0c0c;
    --secondary-text-color: #545454;
    --inverse-text-color: #ffffff;

    --border-color: var(--grey-300);
    --hover-border-color: var(--blue-900);
    --active-outline-color: #cdc0b1;

    --link-color: #005576;
    --link-hover-color: #003b52;
    --link-visited-color: #100052;
    --link-active-color: #0b0c0c;
    --link-active-hover-color: #7EA8B9;
    --link-underline-color: rgba(10, 10, 25, 0.2); /* original #0A0A19, 20%; */

    --icon-default-color: #e3d9ce;
    --icon-hover-color: #cdc0b1;

    --focus-color: #ffc979;
    --focus-text-color: #0b0c0c;
    --focus-border-color: #0b0c0c;

    --body-color: #fdf8f4;
    --bg-highlight-color: #eee8e1;
    --bg-white: #ffffff;

    --success-color: #005c45;
    --error-color: #c0003c;
    --error-bg-color: #f9e5eb;

    --facebook-color: #3B5998;
    --facebook-hover-color: #2F4779;
    --facebook-active-hover-color: var(--facebook-color);
    --whatsapp-color: #25D366;
    --whatsapp-hover-color: #25C05F;
    --whatsapp-active-hover-color: var(--whatsapp-color);
    --email-color: #656565;
    --email-hover-color: #545454;
    --email-active-hover-color: var(--email-color);
    --copy-hover-active-color: #005576;

    /* Button Colors*/

    --button-disabled-bg-color: var(--blue-400);
    --button-disabled-outline-bg-color: var(--grey-300);
    --button-disabled-outline-color: var(--grey-900);


    /* Font Settings */

    --font-fallback: 'Arial Narrow', 'Arial Nova', sans-serif;
    --font-main: "BundesSansWeb", var(--font-fallback);
    --font-regular-italic: "BundesSansWeb Italic", var(--font-fallback);
    --font-bold-italic: "BundesSansWeb Bold Italic", var(--font-fallback);
    --font-bold: "BundesSansWeb Bold", var(--font-fallback);

    /* Font Size */
    --text-sm: 0.785rem;
    --text-s: 0.9rem;
    --text-base: 1rem;
    --text-medium: 1.125rem;
    --text-medium-big: 1.25rem;
    --text-xl: 1.375rem;
    --text-2xl: 1.625rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 2.5rem;

    /* Font Weight */
    --font-normal: 400;

    /* Letter Spacing */
    --tracking-tight: -0.02em;
    --tracking-normal: 0;
    --tracking-wide: 0.02em;
    --tracking-extra-wide: 0.07em;

    /* Line Height */
    --lineheight-none: 1em;
    --lineheight-xs: 1.1em;
    --lineheight-s: 1.2em;
    --lineheight-m: 1.3em;
    --lineheight-default: 1.45em;
    --lineheight-l: 1.6em;

    /* Spacing */

    --spacing-01: 0.375rem;
    --spacing-02: 0.625rem;
    --spacing-03: 1rem;
    --spacing-04: 1.25rem;
    --spacing-05: 1.5rem;
    --spacing-06: 1.875rem;
    --spacing-07: 2.5rem;
    --spacing-08: 3.125rem;
    --spacing-09: 3.75rem;
    --spacing-10: 5.625rem;
    --spacing-11: 7.5rem;
    --spacing-12: 10rem;

    /* Input Field Widths */
    --input-width-2: 3.5rem;
    --input-width-3: 3.8rem;
    --input-width-4: 5rem;
    --input-width-5: 5.8rem;
    --input-width-6: 7rem;
    --input-width-10: 16.5rem;
    --input-width-25: 23.5rem;

    /* Specifics */

    --sidebar-width: 220px;
    --main-max-width: 1000px;
    --back-link-size: 1.5rem;
    --header-navigation-height: var(--spacing-09);

    --button-height: 64px;
    --button-height-narrow: 48px;

    --transition-behaviour: 0.25s;
    --transition-time: ease-in-out;
}

/* Global styles - special version for storybook which resolves urls correctly. */
/* TODO: this should become fairly empty once all components use styled-components */

/* GENERAL */
@font-face {
  font-family: "BundesSansWeb";
  src: url(../../static/media/BundesSans-Web-Regular.3707adc3.woff2),
    url(../../static/media/BundesSans-Web-Regular.56033129.woff);
  font-weight: 400;
}
@font-face {
  font-family: "BundesSansWeb Bold";
  src: url(../../static/media/BundesSans-Web-Bold.a3110bac.woff2), url(../../static/media/BundesSans-Web-Bold.63286347.woff);
  font-weight: 700;
}
@font-face {
  font-family: "BundesSansWeb Italic";
  src: url(../../static/media/BundesSans-Web-RegularItalic.12ce7f83.woff2),
    url(../../static/media/BundesSans-Web-RegularItalic.910e23d6.woff);
  font-weight: 400;
}
@font-face {
  font-family: "BundesSansWeb Bold Italic";
  src: url(../../static/media/BundesSans-Web-BoldItalic.26375159.woff2),
    url(../../static/media/BundesSans-Web-BoldItalic.51487cab.woff);
  font-weight: 700;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: var(--font-main);
}

body {
  background: var(--body-color);
  font-size: var(--text-medium);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* LINKS */
a {
  text-decoration: underline;
  text-underline-offset: var(--spacing-01);
  -webkit-text-decoration-color: var(--link-underline-color);
          text-decoration-color: var(--link-underline-color);
  color: var(--link-color);

  background-clip: border-box;
}

a:hover {
  -webkit-text-decoration-color: var(--link-hover-color);
          text-decoration-color: var(--link-hover-color);
  color: var(--link-hover-color);
}

a:active {
  -webkit-text-decoration-color: var(--link-active-color);
          text-decoration-color: var(--link-active-color);
  color: var(--link-active-color);
}

a:visited {
  -webkit-text-decoration-color: var(--link-visited-color);
          text-decoration-color: var(--link-visited-color);
  color: var(--link-visited-color);
}

/* INPUTS */
.input-width-2 {
  width: var(--input-width-2);
  max-width: var(--input-width-2);
}

.input-width-3 {
  width: var(--input-width-3);
  max-width: var(--input-width-3);
}

.input-width-4 {
  width: var(--input-width-4);
  max-width: var(--input-width-4);
}

.input-width-5 {
  width: var(--input-width-5);
  max-width: var(--input-width-5);
}

.input-width-6 {
  width: var(--input-width-6);
  max-width: var(--input-width-6);
}

.input-width-10 {
  width: var(--input-width-10);
  max-width: var(--input-width-10);
}

.input-width-25 {
  max-width: var(--input-width-25);
}

input.form-control {
  border: 2px solid var(--border-color);
  border-radius: 0;
  min-height: 55px;
}

input.form-control:hover {
  border: 2px solid var(--hover-border-color);
}

input.form-control:focus {
  border: 2px solid var(--border-color);
  box-shadow: 0 0 0 2px var(--focus-color);
}

input.form-control:active {
  border: 2px solid var(--border-color);
  box-shadow: 0 0 0 2px var(--active-outline-color);
}

input.form-control.field-error-found {
  border: 2px solid var(--error-color);
}

.steuerlotse-select {
  border: 2px solid var(--border-color);
  border-radius: 0;
  background: #fff url(../../static/media/select_icon.ad783a45.svg) no-repeat right 0.75rem center;
  min-height: 55px;
}

.input-group input,
.input-group input:hover,
.input-group input:focus,
.input-group input:active {
  border: 2px solid var(--border-color);
  box-shadow: none;
}

.input-group.euro-field:focus-within {
  box-shadow: 0 0 0 2px var(--focus-color);
}

.input-group.euro-field:active {
  box-shadow: 0 0 0 2px var(--active-outline-color);
}

.euro-field-appendix {
  margin-left: -2px;
  padding: 0 1.25rem 0 1.25rem;

  font-family: var(--font-bold);
  color: var(--text-color);

  background-color: var(--bg-highlight-color);
  border: 2px solid var(--border-color);
  border-radius: 0;
}

/* LISTS */
ol {
  counter-reset: steuerlotse-ol;
  list-style: none;
}
ol li {
  margin-bottom: var(--spacing-02);
  counter-increment: steuerlotse-ol;
  position: relative;
}
ol li::before {
  --size: 1.5em;
  content: counter(steuerlotse-ol);
  position: absolute;

  left: calc(-1 * var(--size) - 12px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;

  text-align: center;
  font-family: var(--font-bold);
  color: var(--text-color);

  background: var(--icon-default-color);

  border-radius: 50%;
}

/* Main Content */
.main {
  margin-left: var(--sidebar-width);
  margin-right: 0;
  min-height: 100vh;

  background: var(--body-color);
}

@media (max-width: 1024px) {
  .main {
    margin-left: 0;
  }
}

.main-content {
  padding-left: var(--spacing-03);
  padding-right: var(--spacing-03);
  flex: 1 1;
  margin: 0 auto;
  width: 100%;
  max-width: var(--main-max-width);
}

.list-unstyled li a {
  color: var(--text-color);
}

.form-list {
  list-style-image: url(../../static/media/list_marker.24c924d7.svg);
}

.form-list li::before {
  vertical-align: text-top;
  height: 1px;
}

.form-list li {
  margin-top: var(--spacing-02);
}

.bold {
  font-weight: 700;
}

/* From here on: somewhat unorganised styles that used to live in the original base.css. */
.list-unstyled li a {
  color: var(--text-color);
}

.btn-outline-secondary {
  border-radius: 0;
}

.text-input-field-label {
  margin-top: var(--spacing-07);
  font-size: var(--text-medium);
  font-family: var(--font-bold);
}

.entries-field {
  flex-wrap: nowrap;
}

.grouped-input-fields {
  width: 100%;
}

.grouped-input-fields .text-input-field-label {
  margin-top: var(--spacing-06);
}

@media (max-width: 360px) {
  .grouped-input-fields .text-input-field-label {
    margin-top: var(--spacing-04);
  }
}

h1,
h2,
h3 {
  font-family: var(--font-bold);
}

h1 {
  font-size: var(--text-4xl);
}

@media (max-width: 1024px) {
  h1 {
    font-size: var(--text-3xl);
  }
}

h3 {
  font-size: var(--text-3xl);
}

h4 {
  padding-bottom: var(--spacing-02);
  padding-top: var(--spacing-02);
}

.form-sub-heading {
  font-size: var(--text-2xl);
  margin-top: var(--spacing-08);
  margin-bottom: 0;
}

.form-sub-heading-bigger {
  font-size: var(--text-2xl);
  margin-top: var(--spacing-10);
  margin-bottom: 0;
}

ul.margin-only-between li {
  margin-top: var(--spacing-04);
}

ul.margin-only-between li:first-child {
  margin-top: var(--spacing-02);
}

ul.reasons-success li {
  margin-top: var(--spacing-01);
}

ul.reasons-success li.and {
  list-style: none;
}

.card-half-transparent {
  background-color: #ffffffd6;
}

.card {
  border: none;
  border-radius: inherit;
}

.card-body {
  border: 1px solid var(--border-color);
}

.unstyled-card-header {
  background-color: var(--body-color);
  border: none;
  padding: 0 0 var(--spacing-02);
}

.simple-card {
  background-color: var(--bg-white);
  padding: var(--spacing-07);
  margin-top: var(--spacing-06);
}

.simple-card .field-label {
  font-size: var(--text-medium);
}

img.icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.alert {
  border-radius: 0;
  border: 0;
  padding: var(--spacing-05);
}

.alert-success {
  background-color: var(--success-color);
  color: white;
}

.alert-warning {
  background-color: var(--error-color);
  color: white;
}

.form-row {
  margin-left: 0;
}

.steps-number {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  background-color: #bfd4ed;
}

.step-active small {
  color: #007bff;
  font-family: var(--font-bold);
}

.step-active .steps-number {
  background-color: #007bff;
  color: var(--inverse-text-color);
  font-family: var(--font-bold);
}

.cursor-pointer {
  cursor: pointer;
}

#skip-to-content-div {
  background-color: var(--bg-highlight-color);
  display: flex;
  width: 100%;
}

#skip-to-content-link {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip-to-content-link:focus {
  position: static;
  height: auto;
  width: auto;
  margin-top: var(--spacing-02);
  margin-bottom: var(--spacing-01);
  border: none;
  font-size: var(--text-base);
  font-family: var(--font-bold);
  color: var(--text-color);
}

@media (max-width: 1024px) {
  #skip-to-content-link:focus {
    margin-top: var(--spacing-04);
    margin-bottom: var(--spacing-03);
  }
}

.hidden {
  display: none;
}
/** END copied unorganised CSS from base.css **/


/*# sourceMappingURL=main.e9e09d0f.chunk.css.map*/