{% extends 'basis/base_step.html' %}
{% import "macros.html" as macros %}


{% block step_content %}
    {% block step_intro %}
        {{ macros.form_header(render_info) }}
    {% endblock %}
    <form novalidate class="container px-0 form-container" method="POST" action="{{ render_info.submit_url }}">
        {% block form_content %}
        {% endblock %}

        {% block field_scripts %}
        {% endblock %}

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{ macros.form_nav_buttons(render_info, explanatory_button_text) }}
    </form>
{% endblock %}

{% block optional_js %}
    {# TODO Restructure and clean up the optional javascript (Use single script tag and restructure masking/validation) #}
    <script src="{{ url_for('static', filename='js/customValidation.js') }}" type=text/javascript></script>
    <script type="text/javascript">
        $("[required]").each(function () {
            if ($(this)[0].hasAttribute("input_req_err_msg")) {
                inputMissingErrorMessageHelper($(this)[0], $(this).attr("input_req_err_msg"));
            }
        });
    </script>
    <script src="{{ url_for('static', filename='js/autonumeric.js') }}" type=text/javascript></script>
    <script>
        new AutoNumeric.multiple('.euro_field', {decimalCharacter: ",", digitGroupSeparator: ".", minimumValue: 0});
        // in order for AutoNumeric to work, autocomplete has to be turned off for the respective components
        $('.euro_field').attr('autocomplete', 'off');
    </script>
    <script>
        $('input[type="date"]').attr('max', '9999-12-31');
    </script>
    <script src="{{ url_for('static', filename='js/jquery.mask.min.js') }}" type=text/javascript></script>
    <script>
            $(document).ready(function(){
                $('.date_input').mask('00.00.0000');
                $('input[name="unlock_code"]').mask('A', {
                    translation: {
                        "A": { pattern: /[\w]/, recursive: true }
                    }
                });
                window.memo_values  = new Array();

                 const sub_fields = document.querySelectorAll('input[name="unlock_code"]');
                 sub_fields.forEach(input => {
                     input.addEventListener('input', e => {
                         console.log("old value" + window.memo_values[input.id]);
                         console.log("Hallo" + input.value);
                         const data = input.value;
                         console.log(input.dataset.fieldLength);
                         console.log(data.length, Number(input.dataset.fieldLength));
                         console.log(data.length > Number(input.dataset.fieldLength));
                         let field_to_focus = input
                         if (data.length > Number(input.dataset.fieldLength)) {

                             console.log("start splitting");
                             let start_idx = 0;
                             let start = false;
                             sub_fields.forEach(sub_field => {
                                 if (start || sub_field == input){
                                     start = true;
                                     const length = parseInt(sub_field.dataset.fieldLength);
                                     const paste_content = data.substr(start_idx, length);
                                     console.log("split content", paste_content, length);
                                     if (paste_content.length > 0){
                                        field_to_focus = sub_field;
                                     };
                                     sub_field.value = paste_content || '';
                                     start_idx += length;
                                 }
                             });
                             console.log(field_to_focus);
                             field_to_focus.focus();
                         }
                     });
                 });
            });
        </script>
    {
{% endblock %}
