<div class="footer-footer">
    <div class="container-fluid">
        <div class="footer-inner">
            <div class="row">
                <a href="{{ url_for('data_privacy') }}">{{ _('footer.data-privacy') }}</a>
                <a href="{{ url_for('agb') }}">{{ _('footer.agb') }}</a>
                <a href="{{ url_for('imprint') }}">{{ _('footer.impressum') }}</a>
                <a href="{{ url_for('barrierefreiheit') }}">{{ _('footer.accessibility') }}</a>
            </div>
        </div>
    </div>
</div>